body {
  font-family: 'Patrick Hand', cursive;
  padding: 2% 10%;
  text-align: center;
  font-size: 1.5rem;
}

.render {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.recent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.scorelist {
  border: 1px solid #000;
}

h2 {
  margin-top: 0;
}

button {
  height: 30px;
  border: 2px solid #000;
  cursor: pointer;
}

input {
  border: 2px solid #000;
  height: 20px;
  height: 2rem;
  width: inherit;
}

input::placeholder {
  color: rgb(75, 73, 73);
}

#listitems {
  padding: 0;
  margin: 0;
}

.listitem {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

#listitems > li:nth-child(even) {
  background-color: #ddd;
  padding: 0;
  padding-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  width: inherit;
}

.subtn {
  width: 30%;
}

li {
  list-style: none;
}
