body {
  font-family: 'Patrick Hand', cursive;
  padding: 2% 10%;
  text-align: center;
  font-size: 1.5rem;
  background-color: #004643;
  color: #e16162;
}

.render {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.recent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.scorelist {
  border: 1px solid #abd1c6;
  color: #abd1c6;
  box-shadow: 10px 10px #f9bc69;
}

.scorelist:hover {
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  box-shadow: 10px 10px #f9bc69;
}

h1,
h2 {
  margin-top: 0;
  color: #eff0f3;
}

button {
  background-color: #abd1c6;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  color: #004643;
}

input {
  border: 2px solid #004643;
  height: 20px;
  height: 2rem;
  width: inherit;
  background-color: #f9bc69;
}

input:focus {
  box-shadow: 5px 5px #e16162;
  border-radius: 5px;
}

input::placeholder {
  color: rgb(75, 73, 73);
}

#listitems {
  padding: 0;
  margin: 0;
}

.listitem {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

li {
  list-style: none;
}

#listitems > li:nth-child(even) {
  background-color: #f9bc69;
  padding: 0;
  padding-left: 10px;
  color: #004643;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  width: 300px;
}

.subtn {
  width: 100px;
}
